[Unit]
Description=Clipboard manager
Documentation=man:copyq(1)
PartOf=sway-session.target
Requires=sway-session.target
After=sway-session.target

[Service]
Type=forking
ExecStart=/usr/bin/copyq --start-server
Restart=always

[Install]
WantedBy=sway-session.target
