[Unit]
Description=Per-window layout switcher
Documentation=man:swaykbdd(1)
PartOf=sway-session.target
Requires=sway-session.target
After=sway-session.target

[Service]
Type=exec
ExecStart=/usr/bin/swaykbdd
Restart=always

[Install]
WantedBy=sway-session.target
