[Unit]
Description=Per-window layout switcher
Documentation=man:swaykbdd(1)
BindsTo=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/swaykbdd
Restart=always

[Install]
WantedBy=graphical-session.target
