# for everything
export EDITOR=vim
export TERMINAL=alacritty
export PAGER=cat

# my binaries and python local files
export PATH="${HOME}/bin:${HOME}/.local/bin:${PATH}"

# refer to vim :help manpager.vim
export MANPAGER="vim --not-a-term +MANPAGER -c 'setlocal nonumber' -c 'nnoremap q :q<CR>' -"

DIRCOLORS="${HOME}/.dircolors"
test -r $DIRCOLORS && eval "$(dircolors $DIRCOLORS)"
unset DIRCOLORS

# both bash and zsh use this
export HISTSIZE=5000000

# easy solution for synchronizing themes
export QT_QPA_PLATFORMTHEME=gtk3

# ctrl-s for forward history search
stty -ixon

# vim:ft=sh
