*

!/.config/
!/.config/i3
!/.config/i3/**
!/.config/i3status/
!/.config/i3status/**
!/.config/htop
!/.config/htop/**
!/.config/yay
!/.config/yay/**
!/.config/ranger
!/.config/ranger/**
!/.config/transmission-daemon
!/.config/transmission-daemon/settings.json
!/.config/alacritty
!/.config/alacritty/alacritty.yml
!/.config/alacritty/alacritty.toml
!/.gitconfig
!/.tmux.conf
!/.vim/
!/.vim/vimrc
!/.vim/skel/
!/.vim/skel/*
!/.xinitrc
!/.zshrc
!/LICENSE
!/README.md
!/.gitignore
!/.gitattributes
!/.helpers/
!/.helpers/smudge.sh
!/.helpers/clean.sh
!/.gdbinit
!/.gdbearlyinit
!/.inputrc
!/.ssh/config
