# they are called DOTfiles for a reason
/[^.]*

# temporary directories, no configs there
/.cache/
/.local/share/

# all history files
*_history
/.vim/.netrwhist
/.lesshst

# stray files not related to configs
/.Xauthority
/.git-credentials
/.pulse-cookie
/.viminfo*
/.zcompdump*
/.vim/undo/

# meaningful excludes
/.mozilla/
/.gnupg/
/.steam*
/.pki/
/.ssh/id_*
/.ssh/known_hosts*
/.config/systemd/user/default.target.wants/
/.config/task/*.pem
/.config/torbrowser/

# maybe i will add their configs later...
/.config/GIMP/
/.config/go/
/.config/libreoffice/
/.config/VirtualBox/
/.config/pulse/
/.gtkrc-2.0
/.config/gtk-2.0/
/.config/gtk-3.0/
/.config/qalculate/qalculate-gtk.cfg
/.config/rclone/rclone.conf
/.config/task/taskrc
/.config/user-dirs.dirs
/.config/user-dirs.locale

# i probably won't add those
/.irssi/
/.config/neofetch/
/.config/QtProject.conf
/.config/dconf/
/.config/xreader/
/.config/mimeapps.list
