# they are called DOTfiles for a reason
/[^.]*
!/LICENSE
!/README.md

# temporary directories, no configs there
/.cache/
/.local/share/
/.local/lib/
/.local/state/
/.local/include/
/.tox/
/.fltk/

# all history files
*_history
/.vim/.netrwhist
/.lesshst
/.wget-hsts

# stray files not related to configs
/.Xauthority
/.git-credentials
/.pulse-cookie
/.viminfo*
/.zcompdump*
/.vim/undo/
/.config/transmission-daemon/resume/
/.config/transmission-daemon/torrents/
/.config/transmission-daemon/stats.json
/.config/transmission-daemon/dht.dat

# meaningful excludes
/.mozilla/
/.gnupg/
/.steam*
/.pki/
/.ssh/id_*
/.ssh/known_hosts*
/.ssh/authorized_keys
/.ssh/job.config
/.config/systemd/user/default.target.wants/
/.config/task/*.pem
/.config/torbrowser/
/.helpers/password.txt
/.config/tigervnc/passwd

# TODO check my own executables
/.local/bin/

# maybe i will add their configs later...
/.config/GIMP/
/.config/go/
/.config/libreoffice/
/.config/VirtualBox/
/.config/pulse/
/.gtkrc-2.0
/.config/gtk-2.0/
/.config/gtk-3.0/
/.config/qalculate/
/.config/rclone/rclone.conf
/.config/task/taskrc
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.vim/coc-settings.json
/.config/qt5ct/
/.config/digikamrc

# i probably won't add those
/.irssi/
/.config/neofetch/
/.config/QtProject.conf
/.config/dconf/
/.config/xreader/
/.config/mimeapps.list
/.cargo/
/.config/VK/
/.config/chromium/
/.config/discord/
/.config/skypeforlinux/
/.config/opera/
/.config/whatsapp-nativefier*
/.config/BetterDiscord*
/.electron-gyp/
/.electrum/
/.npm/
/.zoom/
/.config/obs-studio/
/.android/
/.config/Unknown Organization/
/.config/syncthing/
/.config/vlc/
/.config/cef_user_data/
/.config/coc/
/.config/configstore/
