[Unit]
Description=Start a random wireguard vpn client from HideMyName provider
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/hmn-random-server-wg
ExecStop=/usr/local/bin/hmn-random-server-wg stop
